@* Директива @page делает файл *.cshtml представлением Razor и устанавливает шаблон маршрута,
с которым сопоставляется запрос. *@
@page "{username}"
@* Директива @using подключает пространство имен, делая доступными в коде представления Razor
типы из этого пространства имен. *@
@using RazorPagesRenderingHtmlApp.Pages
@* Директива @model устанавливает тип, указывающий, какая модель страницы сопоставляется с
представлением Razor. *@
@model ViewUserModel
@{
    ViewData["Title"] = "View User";
}

<h2>@ViewData["Title"].</h2>

<h3>@Model.Username</h3>
