@page
@model IndexModel
@{
    // Произвольный код C# может быть выполнен в "блоке кода Razor".
    // Переменные остаются в области видимости на всей странице.

    // Переменные, определенные в словаре ViewData[], служат для передачи данных
    // в макет (_Layout), секции (_Section) и частичные представления (_PartialView).
    // Переменные, определенные в словаре ViewData[], могут быть заданы в модели страницы или в представлении Razor.
    ViewData["Title"] = "Home Page";
    int numberOfListItems = new Random().Next(1, 10);
    ViewData["DataFromView"] = (numberOfListItems % 2) == 0;
    string rawHtml = "<li><strong>Raw HTML text.</strong></li>";
}

<h4>Количество элементов: @numberOfListItems</h4>
<div class="row">
    <div class="col-md-12">
        <ul>
            @* Смешивание C# и HTML позволяет динамически создавать HTML во время выполнения.
            Доступны операторы C# if, case, while, do..while, for, foreach. *@
            @for (int i = 0; i < numberOfListItems; i++)
            {
                <li>
                    <span>Номер элемента списка @i</span> <button class="btn btn-primary">Посмотреть</button>
                </li>
            }
            @* В некоторых случаях вам может потребоваться напрямую записать HTML-код, содержащийся в строке.
            Если значения, которые вы пишете, были введены пользователем или созданы на основе значений,
            предоставленных пользователями, то вы рискуете создать брешь в системе безопасности своего сайта. *@
            @Html.Raw(rawHtml)
        </ul>
    </div>
</div>
