@page "{id}"
@model RazorPagesPartialViewApp.Pages.HouseTasks.HouseTaskViewModel
@{
    ViewData["Title"] = "View HouseTask";
}

<p>
    @if (Model.HouseTask!.IsComplete)
    {
        <strong>Эта задача выполнена.</strong>
    }
    else
    {
        @* Используем тег-хелпер <partial/> для отрисовки частичного представления _HouseTaskPartialView,
        передавая модель HouseTask. *@
        <partial name="_HouseTaskPartialView" model="Model.HouseTask" />
    }
</p>
