@page "{base}"
@model RazorPagesBindingModel3App.Pages.CalculateSquareModel
@{
    ViewData["Title"] = "CalculateSquare";
}

<h1>Вычисление квадратов</h1>

<p>Квадратом числа @Model.ViewModel.Base является @Model.ViewModel.Square.</p>
