@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li><a asp-page="CurrencyConverter/Convert">Конвертировать валюту</a></li>
    <li><a asp-page="CurrencyConverter/Checkout">Проверить</a></li>
</ul>
