@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li>
        <a asp-page="/Tasks/DevTasks" asp-route-username="Andrew" asp-route-state="Open">
            Просмотр списка задач по имени пользователя и статусу.
        </a>
    </li>
</ul>
