@page
@model Airport.AirportSecurityModel
@{
    ViewData["Title"] = "Контроль безопасности аэропорта";
}

<h2>@ViewData["Title"]</h2>

<h3>Вы прошли контроль безопасности аэропорта</h3>

<p>
    Вам разрешен вход в бизнес-зал аэропорта?<br />
    Для входа необходимо быть старше 18 лет и<br />
    быть пассажиром Gold класса или работать в авиакомпании,<br />
    а также не иметь запрета входа.
</p>
<p>
    <a asp-page="/Airport/AirportLounge" class="btn btn-primary">Войти в бизнес-зал</a>
</p>
