@page
@model RazorPagesPageHandlers.Pages.Error.MissingModel
@{
    ViewData["Title"] = "Missing";
}

<h1 class="text-danger">Ошибка 404</h1>
<h2 class="text-danger">Упс! Мы не смогли найти запрошенную вами страницу.</h2>

<p>Проверьте введенный вами URL и повторите попытку!</p>
