@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Нажмите <a href="/Search">здесь</a> чтобы тестировать модель привзяки.</p>
    <p>Нажмите <a href="/Missing">здесь</a> чтобы увидеть пользовательскую страницу 404.</p>
</div>
